@model Garage3.Models.ViewModels.DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    @*<p class="text-danger">@TempData["ChangedVehicle"]</p>*@

    @*@if (Model.IsParked)
        {
            <h5>Your vehicle is Parked from @Model.TimeOfArrival.ToShortDateString() @Model.TimeOfArrival.ToShortTimeString()</h5>
            <p>If all information is correct you are finished otherwise you can edit it.</p>
        }*@
    <hr />
    <input asp-for="VehicleTypeId" type="hidden" />
    <dl class="row">
        <!--<dt class="col-sm-2">-->
            @*@Html.DisplayNameFor(model => model.VehicleTypes.FirstOrDefault(m => m.Text))*@

        <!--</dt>-->
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RegistrationNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.VehicleModel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.VehicleModel)
        </dd>
    </dl>
</div>

<p class="text-success">@TempData["ChangedVehicle"]</p>


<div class="form-group">
    <a class="btn btn-secondary" asp-action="Change" asp-route-id="@Model.Id">Change</a>
</div>
<div class="p-1">
    <a asp-controller="Vehicles" asp-action="Overview">Back to Overview</a>
</div>

