@model ReceiptViewModel

@{
    ViewData["Title"] = "Recepit";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Garage3</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <main class="m-3 p-4">
        <h1>Receipt</h1>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.DisplayFor(Model => Model.MemberFullName)
                </div>
                <div class="form-group">
                    @Html.DisplayFor(Model => Model.MemberSSN)
                </div>
                <br />
                <div class="form-group">
                    @Html.LabelFor(Model => Model.VehicleRegistrationNumber):
                    @Html.DisplayFor(Model => Model.VehicleRegistrationNumber)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.VehicleArrivalTime):
                    @Html.DisplayFor(Model => Model.VehicleArrivalTime)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.VehicleDepartureTime):
                    @Html.DisplayFor(Model => Model.VehicleDepartureTime)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.VehicleParkDuration):
                    @Html.DisplayFor(Model => Model.VehicleParkDuration)
                </div>

                <div class="form-group">
                    @Html.LabelFor(Model => Model.VehicleParkPrice):
                    @Html.DisplayFor(Model => Model.VehicleParkPrice)
                </div>
                <br />
                <div class="form-group">
                    <a onclick="window.print();" class="btn btn-primary noprint">Print</a>
                </div>
            </div>
        </div>

        <div>
            <a asp-action="Overview" class="noprint">To the overview</a>
        </div>
    </main>
    @*section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>