@model Garage3.Models.ViewModels.OwnerDetailsViewModel

@{
    ViewData["Title"] = "Member details";
}

<h1>Member Details</h1>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>

    </dl>

</div>
<div>
    <h4>Vehicles</h4>
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.RegistrationNumber)</th>
                <th> @Html.DisplayNameFor(model => model.Brand)</th>
                <th> @Html.DisplayNameFor(model => model.VehicleModel)</th>
                <th> @Html.DisplayNameFor(model => model.VehicleType)</th>
            </tr>
        <thead>
        <tbody>
       
                <tr>
                    <td> @Html.DisplayFor(m => m.RegistrationNumber)  </td>
                    <td> @Html.DisplayFor(m => m.Brand)  </td>
                    <td> @Html.DisplayFor(m => m.VehicleModel)</td>
                    <td> @Html.DisplayFor(m => m.VehicleType)  </td>
                    <td>

                        @if (@Model.IsParked == false)
                        {
                            <a class="btn btn-primary" asp-controller="ParkingEvents" asp-action="Park" asp-route-id="@Model.Id" asp-route-vehcleid="@Model.VehicleId">Park</a>
                        }
                        else
                        {
                            <a class="btn btn-primary" asp-controller="ParkingEvents" asp-action="UnPark" asp-route-id="@Model.Id" asp-route-vehcleid="@Model.VehicleId">Unpark</a>
                        }

                    </td>
                </tr>
        </tbody>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.First().SocialSecurityNumber ">Edit</a> |*@
    <div class="row">
        <div class="col">
            <a asp-action="Overview">Back to Overview</a>
        </div>
        <div class="col">
            <a asp-controller="Vehicles" asp-action="Register" asp-route-id="@Model.Id">Register new vehicle</a>
        </div>
    </div>
</div>
