@model IEnumerable<Garage3.Models.ViewModels.OwnerDetailsViewModel>

@{
    ViewData["Title"] = "Member";
}

<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.First().SocialSecurityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.First().SocialSecurityNumber)
        </dd>

    </dl>

    <h4>Vehicles</h4>

    <table class="table">

        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.RegistrationNumber)</th>
                <th> @Html.DisplayNameFor(model => model.Type)</th>
                <th> @Html.DisplayNameFor(model => model.Model)</th>
            </tr>
        <thead>
        <tbody>
                    @foreach (var item in Model)
                    {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.RegistrationNumber)  </td>
                    <td> @Html.DisplayFor(modelItem => item.Type)  </td>
                    <td> @Html.DisplayFor(modelItem => item.Model)  </td>

                    <td>
                        <a class="btn btn-primary" asp-action="Park" asp-route-ssn="@item.RegistrationNumber">Park</a>
                    </td>
                </tr>
                    }
        </tbody>
    </table>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.First().SocialSecurityNumber ">Edit</a> |*@
    <div class="row">
        <div class="col">
            <a asp-action="Overview">Back to Overview</a>
        </div>
        <div class="col">
            <a asp-controller="Vehicles" asp-action="Register" asp-route-ssn="@Model.First().SocialSecurityNumber">Register new vehicle</a>
        </div>
    </div>
</div>
