@model OwnerDetailsViewModel

@{
    ViewData["Title"] = "Member details";
    Layout = "_Layout";
}

<h1>Member Details</h1>
<div>
    <h4>Member</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SocialSecurityNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SocialSecurityNumber)
        </dd>

    </dl>

</div>
<div>
    <h4>Vehicles</h4>
    <table class="table">
        <thead>
            <tr>
                <th> @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().RegistrationNumber)</th>
                <th> @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().Brand)</th>
                <th> @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleModel)</th>
                <th> @Html.DisplayNameFor(model => model.Vehicles.FirstOrDefault().VehicleType)</th>
            </tr>
        <thead>
        <tbody>
            @foreach (var item in Model.Vehicles)
            {
                <tr>
                    <td> @Html.DisplayFor(modelItem => item.RegistrationNumber)  </td>
                    <td> @Html.DisplayFor(modelItem => item.Brand)  </td>
                    <td> @Html.DisplayFor(modelItem => item.VehicleModel)</td>
                    <td> @Html.DisplayFor(modelItem => item.VehicleType.Type)  </td>
                    <td>

                        @if (@item.IsParked == false)
                        {
                            @Html.ActionLink("Park", "Park", "ParkingEvents", new { id = @Model.Id, vehcleid = @item.VehicleId }, new { @class = "btn btn-primary" })
                        }
                        else
                        {
                            @Html.ActionLink("Unpark", "UnPark", "Vehicles", new { vehicleid = @item.VehicleId }, new { @class = "btn btn-primary" })
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>
    <span class="text-danger"> @TempData["NoPlacesMessage"]</span>
</div>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.First().SocialSecurityNumber ">Edit</a> |*@
    <div class="row">
        <div class="col">
            <a asp-action="Overview">Back to Overview</a>
        </div>
        <div class="col">
            <a asp-controller="Vehicles" asp-action="Register" asp-route-id="@Model.Id">Register new vehicle</a>
        </div>
    </div>
</div>
